.servicii-row .text-servicii button, .preturi .pret button, .despre-noi .text-despre-noi button {
  width: 7rem;
  height: 2.4rem;
  margin: 1.5rem 0;
  border: 1px solid #1db9df;
  color: #ffff;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 0.9rem;
  box-sizing: content-box;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
}

.servicii-row .text-servicii button:hover, .preturi .pret button:hover, .despre-noi .text-despre-noi button:hover {
  background-color: #1db9df;
  color: rgba(14, 13, 13, 0.955);
}

.services-title h2 span, .servicii-row .text-servicii h2 span, .despre-noi .text-despre-noi h2 span, .despre-noi .text-despre-noi h3 span, .title-beneficii h2 span {
  content: '';
  display: block;
  width: 5rem;
  margin-top: 1rem;
  height: 3px;
  background-color: #ffff;
  display: block;
  position: relative;
  margin: 0 auto;
}

.services-title h2 span::after, .servicii-row .text-servicii h2 span::after, .despre-noi .text-despre-noi h2 span:after, .despre-noi .text-despre-noi h3 span:after, .title-beneficii h2 span:after {
  content: '';
  display: block;
  background-color: #1db9df;
  width: 1.7rem;
  height: 3px;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(14, 13, 13, 0.955);
}

header {
  display: flex;
  justify-content: center;
  background-color: #232222;
}

header .logo img {
  width: 8rem;
}

header ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header li {
  list-style: none;
}

header li a {
  color: #ffff;
  font-size: 1.3rem;
}

header li a:hover {
  color: #ffff;
}

header .ham-menu {
  display: none;
}

header .phone-nav {
  display: none;
}

.show {
  display: flex;
}

.backgound-black {
  background-color: rgba(14, 13, 13, 0.955);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  display: none;
}

a {
  text-decoration: none;
}

.overlap-text {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.overlap-text h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #1db9df;
}

.overlap-text p {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
}

.video-mirror {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}

.video-mirror .video {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.servicii {
  padding: 1rem;
  background-color: #232222;
  margin-top: 3rem;
}

.services-title {
  text-align: center;
  color: #ffff;
  max-width: 30rem;
  margin: 0 auto;
}

.services-title h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.services-title p {
  font-size: 1.1rem;
  margin-bottom: 5rem;
}

.servicii-row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10%;
  margin-bottom: 5rem;
}

.servicii-row .image-servicii img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.servicii-row .text-servicii {
  max-width: 30rem;
}

.servicii-row .text-servicii h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.servicii-row .text-servicii h2 span {
  margin: 0;
  margin-top: 0.5rem;
}

.servicii-row .text-servicii p {
  font-size: 1.3rem;
}

.servicii-row .text-servicii button {
  width: 10rem;
}

.preturi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
  padding: 5rem 1rem;
}

.preturi .pret {
  background-color: #3d3b3b;
  padding: 0.5rem;
  border-radius: 3px;
  transition: margin 0.3s ease-in-out;
  box-shadow: 0px 0px 10px #1db9df;
}

.preturi .pret p {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #1db9df;
}

.preturi .pret ul {
  margin-bottom: 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preturi .pret li {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  color: #ffff;
  list-style: none;
  text-align: center;
}

.preturi .pret img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.preturi .pret h2 {
  color: #1db9df;
}

.preturi .pret:hover {
  margin-top: -1rem;
}

.despre-noi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 5rem 0;
  background-color: #232222;
  margin: 0 auto;
}

.despre-noi .image-despre-noi img {
  max-width: 100%;
  height: auto;
  border: 2px dotted #ffff;
  border-color: #1db9df;
  padding: 0.8rem;
}

.despre-noi .text-despre-noi {
  max-width: 40rem;
  color: #ffff;
}

.despre-noi .text-despre-noi h2 {
  margin-bottom: 1rem;
  font-size: clamp(1.2rem, 2.3rem, 5rem);
  font-family: Arial, Helvetica, sans-serif;
}

.despre-noi .text-despre-noi h2 span {
  margin-top: 0.3rem;
}

.despre-noi .text-despre-noi p {
  margin-bottom: 3rem;
  font-size: clamp(1.1rem, 1.3rem, 10rem);
}

.despre-noi .text-despre-noi h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}

.despre-noi .text-despre-noi h3 span {
  margin-top: 0.3rem;
}

.despre-noi .text-despre-noi ul {
  margin-left: 1.5rem;
  margin-top: 1.2rem;
}

.despre-noi .text-despre-noi li {
  margin-bottom: 0.7rem;
  list-style: circle;
  font-size: clamp(0.7rem, 1.2rem, 3rem);
  text-align: start;
}

.despre-noi .phone {
  display: none;
}

.title-beneficii {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.title-beneficii h2 {
  text-align: center;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.title-beneficii h2 span {
  margin-top: 0.3rem;
}

.container-beneficii {
  color: #ffff;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
  margin: 0 auto;
}

.container-beneficii .row {
  text-align: center;
  width: 20rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 10px #1db9df;
}

.container-beneficii .row img {
  margin-bottom: 1rem;
  width: 3.5rem;
}

.container-beneficii .row h3 {
  margin-bottom: 0.6rem;
}

.gallery-title {
  background-color: #232222;
}

.gallery-title h2 {
  text-align: center;
  color: #ffff;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.gallery-title p {
  text-align: center;
  margin: 0 auto;
  color: #ffff;
  font-size: 1.5rem;
  max-width: 35rem;
  margin-bottom: 2rem;
}

.gallery-title .gallery {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  justify-content: center;
  gap: 3rem;
}

.gallery-title .gallery img {
  border-radius: 3px;
}

.contact .contact-title {
  color: #ffff;
  max-width: 25rem;
  margin: 0 auto;
  text-align: center;
}

.contact .contact-title h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin-bottom: 1.4rem;
  margin-top: 3rem;
}

.contact .contact-title p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.contact .contact-ways {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.contact .contact-ways img {
  width: 2rem;
}

.contact .contact-ways .phone {
  display: flex;
  align-items: center;
  color: #ffff;
  gap: 1rem;
}

.contact .contact-ways .email {
  display: flex;
  align-items: center;
  color: #ffff;
  gap: 1rem;
}

.swiper {
  height: 25rem;
}

.swiper .swiper-wrapper {
  align-items: center;
}

.swiper .swiper-wrapper .swiper-slide {
  border-radius: 7px;
  display: flex;
  justify-content: center;
}

.swiper .swiper-wrapper .swiper-slide .testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffff;
  width: 20rem;
  text-align: center;
}

.swiper .swiper-wrapper .swiper-slide .testimonial img {
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.swiper .swiper-wrapper .swiper-slide .testimonial span {
  color: red;
}

.swiper .swiper-wrapper .swiper-slide .testimonial h3 {
  font-size: 1rem;
  margin-top: 1.5rem;
}

.title-testimonials {
  text-align: center;
  color: #ffff;
  margin: 0 auto;
  margin-top: 5rem;
}

.title-testimonials h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.title-testimonials p {
  font-size: 1.3rem;
}

.title-testimonials .testimonial-text {
  max-width: 28rem;
  margin: 0 auto;
}

@media (max-width: 46.63em) {
  header {
    display: flex;
    justify-content: start;
  }
  header .logo img {
    width: 6rem;
    margin-left: 2rem;
  }
  header li {
    display: none;
  }
  header .ham-menu {
    display: block;
    margin: auto 0;
    margin-left: auto;
    margin-right: 2rem;
  }
  header .ham-menu img {
    width: 2rem;
  }
  header .phone-nav {
    display: none;
    position: fixed;
    z-index: 12;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ffff;
    bottom: 0;
    top: 0;
    padding-top: 3rem;
  }
  header .phone-nav li {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.536);
    width: 100%;
    padding: 1rem 2rem;
    padding-left: 3rem;
  }
  header .phone-nav a {
    color: #1db9df;
  }
  header .phone-nav a:hover {
    color: #1db9df;
  }
  header .phone-nav .close {
    display: flex;
    margin-left: auto;
    margin-right: 1.5rem;
  }
  header .phone-nav .close img {
    width: 1.1rem;
    cursor: pointer;
  }
}

.main-page .main-page-items {
  text-align: center;
}

.main-page .main-page-items h1 {
  font-size: 2.5rem;
}

.main-page .main-page-items p {
  font-size: 1.5rem;
}

@media (max-width: 60.31em) {
  .servicii div:nth-child(3) {
    flex-direction: column-reverse;
  }
  .servicii-row {
    flex-direction: column;
    text-align: center;
  }
  .servicii-row .text-servicii {
    margin: 0 auto;
  }
  .servicii-row .text-servicii h2 span {
    margin: 0 auto;
    margin-top: 0.5rem;
  }
  .servicii-row .text-servicii p {
    text-align: start;
  }
  .servicii-row .text-servicii button {
    margin-bottom: 3rem;
  }
  .servicii-row .image-servicii {
    margin-bottom: 2rem;
  }
}

@media (max-width: 71.87em) {
  .despre-noi {
    flex-direction: column;
  }
  .despre-noi .text-despre-noi {
    width: 70%;
    text-align: center;
  }
  .despre-noi .text-despre-noi ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .despre-noi h2 {
    margin: 0;
    text-align: center;
  }
  .despre-noi h3 {
    margin: 0;
    text-align: center;
  }
  .despre-noi .image-despre-noi {
    display: none;
  }
  .despre-noi .phone {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 78.12em) {
  .preturi {
    flex-wrap: wrap;
  }
  .preturi .pret {
    margin-top: 3rem;
    transition: none;
  }
  .preturi .pret:hover {
    margin-top: 3rem;
  }
}

@media (max-width: 85em) {
  .gallery-title .gallery {
    grid-template-columns: repeat(2, 25rem);
  }
  .gallery-title .gallery a:nth-child(9) {
    grid-column: span 2;
    margin: 0 auto;
  }
}

@media (max-width: 57.5em) {
  .gallery-title .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery-title .gallery img {
    width: 20rem !important;
  }
  .gallery-title .gallery a:nth-child(9) {
    grid-column: span 1;
    margin: 0;
  }
}
