.servicii-row .text-servicii button, .preturi .pret button, .despre-noi .text-despre-noi button {
  width: 7rem;
  height: 2.4rem;
  margin: 1.5rem 0;
  border: 1px solid #1db9df;
  color: #ffff;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 0.9rem;
  box-sizing: content-box;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
}

.servicii-row .text-servicii button a, .preturi .pret button a, .despre-noi .text-despre-noi button a {
  color: #ffff;
}

.servicii-row .text-servicii button:hover, .preturi .pret button:hover, .despre-noi .text-despre-noi button:hover {
  background-color: #1db9df;
  color: rgba(14, 13, 13, 0.955);
}

.services-title h2 span, .servicii-row .text-servicii h2 span, .despre-noi .text-despre-noi h2 span, .despre-noi .text-despre-noi h3 span, .title-beneficii h2 span, .gallery-title h2 span, .testimonials .title-testimonials h2 span, .title-contact h2 span, footer h3 span {
  content: '';
  display: block;
  width: 5rem;
  margin-top: 1rem;
  height: 3px;
  background-color: #ffff;
  display: block;
  position: relative;
  margin: 0 auto;
}

.services-title h2 span::after, .servicii-row .text-servicii h2 span::after, .despre-noi .text-despre-noi h2 span:after, .despre-noi .text-despre-noi h3 span:after, .title-beneficii h2 span:after, .gallery-title h2 span:after, .testimonials .title-testimonials h2 span:after, .title-contact h2 span:after, footer h3 span:after {
  content: '';
  display: block;
  background-color: #1db9df;
  width: 1.7rem;
  height: 3px;
  position: absolute;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(14, 13, 13, 0.955);
}

.contact-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(14, 13, 13, 0.955);
  border-bottom: 2px solid #232222;
}

.contact-header .message-header {
  color: #ffff;
  display: flex;
  gap: 1rem;
}

.contact-header .message-header .tag {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.contact-header .message-header .tag img {
  width: 2.5rem;
}

.contact-header .message-header .tag a {
  color: #ffff;
}

.contact-header .message-header .tag a:hover {
  color: #1db9df;
}

.contact-header .header-social {
  display: flex;
  height: fit-content;
}

.contact-header .header-social a {
  color: #ffff;
  margin-right: 1rem;
}

.contact-header .header-social a:hover {
  text-decoration: none;
}

.contact-header .header-social .fa {
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  border: 1.5px solid #1db9df;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.contact-header .header-social .fa:hover {
  border: 1.5px solid #ffff;
}

header {
  display: flex;
  justify-content: center;
  background-color: rgba(14, 13, 13, 0.955);
}

header .logo img {
  width: 8rem;
}

header ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header li {
  list-style: none;
}

header li a {
  color: #ffff;
  font-size: 1.3rem;
}

header li a:hover {
  text-decoration: underline #1db9df;
}

header .ham-menu {
  display: none;
  cursor: pointer;
}

header .phone-nav {
  display: none;
}

.backgound-black {
  background-color: rgba(14, 13, 13, 0.955);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  display: none;
}

a {
  text-decoration: none;
}

.overlap-text {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.overlap-text h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  text-transform: uppercase;
  color: #1db9df;
}

.overlap-text p {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffff;
}

.video-mirror {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
}

.video-mirror .video {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.servicii {
  padding: 1rem;
  background-color: #232222;
  margin-top: 3rem;
}

.services-title {
  text-align: center;
  color: #ffff;
  max-width: 30rem;
  margin: 0 auto;
}

.services-title h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

.services-title p {
  font-size: 1.1rem;
  margin-bottom: 5rem;
}

.servicii-row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10%;
  margin-bottom: 5rem;
}

.servicii-row .image-servicii img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.servicii-row .text-servicii {
  max-width: 30rem;
}

.servicii-row .text-servicii h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.servicii-row .text-servicii h2 span {
  margin: 0;
  margin-top: 0.5rem;
}

.servicii-row .text-servicii p {
  font-size: 1.3rem;
}

.servicii-row .text-servicii button {
  width: 10rem;
}

.preturi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
  padding: 5rem 1rem;
}

.preturi .pret {
  background-color: #3d3b3b;
  padding: 0.5rem;
  border-radius: 3px;
  transition: margin 0.3s ease-in-out;
  box-shadow: 0px 0px 10px #1db9df;
}

.preturi .pret p {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #1db9df;
}

.preturi .pret ul {
  margin-bottom: 1.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preturi .pret li {
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  color: #ffff;
  list-style: none;
  text-align: center;
}

.preturi .pret img {
  max-width: 100%;
  height: auto;
  border-radius: 3px;
}

.preturi .pret h2 {
  color: #1db9df;
}

.preturi .pret:hover {
  margin-top: -1rem;
}

.despre-noi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 5rem 0;
  background-color: #232222;
  margin: 0 auto;
}

.despre-noi .image-despre-noi img {
  max-width: 100%;
  height: auto;
  border: 2px dotted #ffff;
  border-color: #1db9df;
  padding: 0.8rem;
}

.despre-noi .text-despre-noi {
  max-width: 40rem;
  color: #ffff;
}

.despre-noi .text-despre-noi h2 {
  margin-bottom: 1rem;
  font-size: clamp(1.2rem, 2.3rem, 5rem);
}

.despre-noi .text-despre-noi h2 span {
  margin: 0;
  margin-top: 0.3rem;
}

.despre-noi .text-despre-noi p {
  margin-bottom: 3rem;
  font-size: clamp(1.1rem, 1.3rem, 10rem);
}

.despre-noi .text-despre-noi h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.7rem;
}

.despre-noi .text-despre-noi h3 span {
  margin: 0;
  margin-top: 0.3rem;
}

.despre-noi .text-despre-noi ul {
  margin-left: 1.5rem;
  margin-top: 1.2rem;
}

.despre-noi .text-despre-noi li {
  margin-bottom: 0.7rem;
  list-style: circle;
  font-size: clamp(0.7rem, 1.2rem, 3rem);
  text-align: start;
}

.despre-noi .phone {
  display: none;
}

.title-beneficii {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.title-beneficii h2 {
  text-align: center;
  color: #ffff;
  font-size: 2rem;
}

.title-beneficii h2 span {
  margin-top: 0.3rem;
}

.container-beneficii {
  color: #ffff;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
  margin: 0 auto;
  padding: 3rem 0;
}

.container-beneficii .row {
  text-align: center;
  width: 20rem;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 10px #1db9df;
}

.container-beneficii .row img {
  margin-bottom: 1rem;
  width: 3.5rem;
}

.container-beneficii .row h3 {
  margin-bottom: 0.6rem;
  color: #1db9df;
}

.gallery-title {
  background-color: #232222;
  padding: 3rem 0;
}

.gallery-title h2 {
  text-align: center;
  color: #ffff;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}

.gallery-title h2 span {
  margin-top: 0.3rem;
}

.gallery-title p {
  text-align: center;
  margin: 0 auto;
  color: #ffff;
  font-size: 1.5rem;
  max-width: 35rem;
  margin-bottom: 2rem;
}

.gallery-title .gallery {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  justify-content: center;
  gap: 3rem;
}

.gallery-title .gallery img {
  border-radius: 3px;
}

.swiper {
  height: 25rem;
  margin-top: 3rem;
}

.swiper .swiper-wrapper {
  align-items: center;
}

.swiper .swiper-wrapper .swiper-slide {
  border-radius: 7px;
  display: flex;
  justify-content: center;
}

.swiper .swiper-wrapper .swiper-slide .testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  max-width: 40rem;
  gap: 3rem;
  background-color: lightgray;
  padding: 2rem;
  border-radius: 3px;
}

.swiper .swiper-wrapper .swiper-slide .testimonial .image-testimonial img {
  border-radius: 3px;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  margin-bottom: 2rem;
  border: 2px dotted #1db9df;
}

.swiper .swiper-wrapper .swiper-slide .testimonial .text-testimonial p {
  font-size: 1.5rem;
  color: rgba(14, 13, 13, 0.955);
}

.swiper .swiper-wrapper .swiper-slide .testimonial .text-testimonial span {
  color: #1db9df;
}

.swiper .swiper-wrapper .swiper-slide .testimonial .text-testimonial h3 {
  font-size: 1.4rem;
  margin-top: 1.5rem;
  color: rgba(14, 13, 13, 0.955);
}

.swiper .swiper-scrollbar {
  background: none;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #1db9df;
}

.testimonials .title-testimonials {
  text-align: center;
  color: #ffff;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.testimonials .title-testimonials h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.testimonials .title-testimonials h2 span {
  margin-top: 0.3rem;
}

.testimonials .title-testimonials p {
  font-size: 1.3rem;
}

.testimonials .title-testimonials .testimonial-text {
  max-width: 28rem;
  margin: 0 auto;
}

.appointment {
  background-color: rgba(14, 13, 13, 0.955);
  color: #ffff;
  margin: 3rem;
  padding: 2rem;
  max-width: 55rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 3px;
  text-align: center;
}

.appointment .appointment-title h2 {
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
  color: #1db9df;
}

.appointment .appointment-title p {
  font-size: 1.2rem;
}

.appointment img {
  width: 3rem;
}

.appointment .number-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.6rem;
}

.appointment .number-contact h2 a {
  color: #ffff;
}

.appointment .number-contact h2 a:hover {
  color: #1db9df;
}

.appointment .email-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.appointment .email-contact h2 a {
  color: rgba(14, 13, 13, 0.955);
}

.title-contact {
  text-align: center;
  color: #ffff;
}

.title-contact h2 {
  font-size: 2.5rem;
}

.title-contact h2 span {
  margin-top: 0.3rem;
}

.title-contact p {
  max-width: 28rem;
  margin: 0.7rem auto 3rem auto;
  font-size: 1.3rem;
}

.contact {
  background-color: #232222;
  padding: 3rem 1rem;
}

footer {
  background-color: rgba(14, 13, 13, 0.955);
  color: #ffff;
}

footer h3 {
  margin-bottom: 1rem;
  text-align: center;
}

footer h3 span {
  margin-top: 0.3rem;
}

footer p {
  margin-bottom: 0.5rem;
  text-align: center;
}

footer a {
  color: #ffff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline #1db9df;
}

/* Footer Contact */
.footer-contact {
  border-bottom: 1px solid #1db9df;
  display: flex;
  justify-content: center;
}

.footer-contact .contact-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 2rem 4rem;
  border: 1px solid #1db9df;
  border-bottom: none;
  border-top: none;
  color: #ffff;
}

.footer-contact img {
  width: 3.5rem;
}

.footer-contact a {
  font-size: 1.3rem;
}

.footer-contact a:hover {
  color: #1db9df;
  text-decoration: none;
}

.footer-contact .mail {
  border-left: none;
}

.footer-contact .whatsapp {
  border-right: none;
}

/* Footer Navigation */
.footer-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/* Footer Logo  */
.logo-text {
  width: 15rem;
}

.logo-text .logo-footer {
  display: flex;
  justify-content: center;
}

.logo-text .logo-footer img {
  width: 9rem;
}

.navigation {
  margin-top: 1rem;
}

.navigation h3 {
  font-size: 1.5rem;
}

.navigation p {
  font-size: 1.3rem;
}

/* Footer Social */
.footer-social {
  display: flex;
  height: fit-content;
}

.footer-social a {
  color: #ffff;
  margin-top: 2rem;
  margin-right: 1rem;
}

.footer-social a:hover {
  text-decoration: none;
}

.footer-social .fa {
  font-size: 1.5rem;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  border: 1.5px solid #1db9df;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer-social .fa:hover {
  border: 1.5px solid #ffff;
}

/* Footer Copyright */
.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #1db9df;
  margin: 0 5rem;
  padding: 1.5rem 0;
}

@media (max-width: 43em) {
  .footer-copyright {
    text-align: center;
    flex-direction: column;
    gap: 1rem;
  }
}

.page-up-btn {
  position: fixed;
  border-radius: 50%;
  background-color: rgba(14, 13, 13, 0.955);
  border: 1px solid #1db9df;
  height: 3rem;
  width: 3rem;
  right: 3rem;
  bottom: 4rem;
  z-index: 5;
  opacity: 0.9;
}

.page-up-btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

.page-up-btn a img {
  width: 2rem;
}

@media (max-width: 46.63em) {
  header {
    display: flex;
    justify-content: start;
  }
  header .logo img {
    width: 6rem;
    margin-left: 2rem;
  }
  header li {
    display: none;
  }
  header .ham-menu {
    display: block;
    margin: auto 0;
    margin-left: auto;
    margin-right: 2rem;
  }
  header .ham-menu img {
    width: 2rem;
  }
  header .side-nav-phone {
    z-index: 12;
    position: fixed;
    background-color: #232222;
    top: 0;
    padding-top: 3rem;
    width: 0;
    height: 100vh;
    transition: width 0.5s ease;
  }
  header .side-nav-phone .phone-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
  }
  header .side-nav-phone .phone-nav li {
    display: flex;
    border-bottom: 1px solid rgba(14, 13, 13, 0.955);
    width: 16rem;
    padding: 1rem 0 1rem 4rem;
  }
  header .side-nav-phone .phone-nav a {
    color: #ffff;
  }
  header .side-nav-phone .phone-nav a:hover {
    text-decoration: underline #1db9df;
  }
  header .side-nav-phone .phone-nav .close {
    display: flex;
    margin: 0 1.5rem 1rem auto;
  }
  header .side-nav-phone .phone-nav .close img {
    width: 1.1rem;
    cursor: pointer;
  }
  header .side-nav-phone .phone-nav .header-social {
    display: flex;
    height: fit-content;
    margin: 0 auto;
  }
  header .side-nav-phone .phone-nav .header-social a {
    color: #ffff;
    margin-top: 2rem;
    margin-right: 1rem;
  }
  header .side-nav-phone .phone-nav .header-social a:hover {
    text-decoration: none;
  }
  header .side-nav-phone .phone-nav .header-social .fa {
    font-size: 1.5rem;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    border: 1.5px solid #1db9df;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  header .side-nav-phone .phone-nav .header-social .fa:hover {
    border: 1.5px solid #ffff;
  }
  .contact-header {
    flex-direction: column;
    align-items: center;
  }
  .contact-header .header-social {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .contact-header .message-header {
    justify-content: space-between;
    width: 100%;
  }
}

@media (max-width: 28.25em) {
  .contact-header .message-header .tag {
    gap: 6px;
  }
  .contact-header .message-header .tag a {
    font-size: 0.8rem;
  }
  .contact-header .message-header .tag img {
    width: 1.8rem;
  }
}

@media (max-width: 60.31em) {
  .servicii div:nth-child(3) {
    flex-direction: column-reverse;
  }
  .servicii-row {
    flex-direction: column;
    text-align: center;
  }
  .servicii-row .text-servicii {
    margin: 0 auto;
  }
  .servicii-row .text-servicii h2 span {
    margin: 0 auto;
    margin-top: 0.5rem;
  }
  .servicii-row .text-servicii p {
    text-align: start;
  }
  .servicii-row .text-servicii button {
    margin-bottom: 3rem;
  }
  .servicii-row .image-servicii {
    margin-bottom: 2rem;
  }
}

@media (max-width: 71.87em) {
  .despre-noi {
    flex-direction: column;
  }
  .despre-noi .text-despre-noi {
    width: 70%;
    text-align: center;
  }
  .despre-noi .text-despre-noi ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .despre-noi .text-despre-noi h2 {
    margin: 0;
    text-align: center;
  }
  .despre-noi .text-despre-noi h2 span {
    margin: 0.5rem auto;
  }
  .despre-noi .text-despre-noi h3 {
    margin: 0;
    text-align: center;
  }
  .despre-noi .text-despre-noi h3 span {
    margin: 0 auto;
  }
  .despre-noi .image-despre-noi {
    display: none;
  }
  .despre-noi .phone {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }
}

@media (max-width: 78.12em) {
  .preturi {
    flex-wrap: wrap;
  }
  .preturi .pret {
    margin-top: 3rem;
    transition: none;
  }
  .preturi .pret:hover {
    margin-top: 3rem;
  }
}

@media (max-width: 85em) {
  .gallery-title .gallery {
    grid-template-columns: repeat(2, 25rem);
  }
  .gallery-title .gallery a:nth-child(9) {
    grid-column: span 2;
    margin: 0 auto;
  }
}

@media (max-width: 57.5em) {
  .gallery-title .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .gallery-title .gallery img {
    width: 20rem !important;
  }
  .gallery-title .gallery a:nth-child(9) {
    grid-column: span 1;
    margin: 0;
  }
}

@media (max-width: 42.5em) {
  .swiper {
    height: 34rem;
  }
  .swiper .swiper-wrapper .swiper-slide .testimonial {
    flex-direction: column;
    width: 20rem;
    gap: 1rem;
  }
  .swiper .swiper-wrapper .swiper-slide .testimonial .image-testimonial img {
    margin-bottom: 0;
  }
}

@media (max-width: 61.25em) {
  .appointment {
    max-width: 30rem;
    padding-bottom: 0;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1.5rem;
    gap: 3rem;
  }
  .appointment .appointment-title {
    max-width: 20rem;
    margin: 0 auto;
  }
}

@media (max-width: 73.13em) {
  .footer-contact {
    flex-wrap: wrap;
  }
  .footer-contact .contact-row {
    padding: 0;
    width: 25rem;
    border: 1px solid #1db9df;
    padding: 2rem;
  }
  .footer-contact .phone {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: none;
    justify-content: center;
    padding-right: 3rem;
  }
  .footer-contact .whatsapp {
    border-left: none;
    border-bottom: none;
    border-right: none;
    width: 30rem;
    justify-content: center;
  }
  .footer-contact .mail {
    border-bottom: none;
    border-left: none;
    border-top: none;
  }
}

@media (max-width: 49.94em) {
  .footer-contact .contact-row {
    justify-content: space-between;
  }
  .footer-contact .phone p {
    margin-right: 2rem;
  }
  .footer-contact .mail {
    border-bottom: 1px solid #1db9df;
    border-right: none;
  }
  .footer-contact .whatsapp {
    width: 25rem;
  }
}

@media (max-width: 22.5em) {
  .footer-contact .contact-row {
    flex-direction: column;
  }
  .footer-contact .phone p {
    margin-right: 0;
  }
}

@media (max-width: 61.25em) {
  .footer-nav {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .footer-nav .footer-social {
    grid-column: span 2;
  }
}

@media (max-width: 37.5em) {
  .footer-nav {
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 3rem;
    gap: 2rem;
  }
  .footer-nav .footer-social {
    grid-column: span 1;
  }
  .footer-nav .footer-social .fa {
    margin-top: 0;
  }
}

/* Termns and conditions */
.terms-conditions {
  color: #ffff;
}

.terms-conditions h1 {
  margin: 2rem;
  font-size: 1.7rem;
}

.terms-conditions h2 {
  margin: 1rem;
}

.terms-conditions p {
  opacity: 0.9;
  margin-left: 1rem;
}

.terms-conditions ul {
  margin-left: 2rem;
  opacity: 0.9;
}

/* privacy policy */
.privacy-policy {
  color: #ffff;
}

.privacy-policy h1 {
  margin: 2rem;
  font-size: 1.7rem;
}

.privacy-policy h2 {
  margin: 1rem;
}

.privacy-policy p {
  opacity: 0.9;
  margin-left: 1rem;
}
