// Button
@import 'colors';

%btn {
  width: 7rem;
  height: 2.4rem;
  margin: 1.5rem 0;
  border: 1px solid $second-color;
  color: $main-color;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 0.9rem;
  box-sizing: content-box;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
}

%btn a {
  color: $main-color;
  // color: black;
}

%btn:hover {
  background-color: $second-color;
  color: $main-back-color;
}

%link {
  // width: 7rem;
  // height: 2.4rem;
  // margin: 1.5rem 0;
  padding: 0.7rem;
  border: 1px solid $second-color;
  color: $main-color;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  font-size: 0.9rem;
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.9rem;
}

%link:hover {
  background-color: $second-color;
  color: $main-color;
}

// Span

%span {
  content: '';
  display: block;
  width: 5rem;
  margin-top: 1rem;
  height: 3px;
  background-color: $main-color;
  display: block;
  position: relative;
  margin: 0 auto;
}

%span-after {
  content: '';
  display: block;
  background-color: $second-color;
  width: 1.7rem;
  height: 3px;
  position: absolute;
}
