%btn {
  display: inline-block;
  height: 2.3rem;
  width: 6.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: $second-color;
  color: $first-color;
  font-size: 1rem;
}
