// $first-color: #2f0c49;
// $second-color: #a44cd3;
// $third-color: #e97ae7;
// $fourth-color: white;
// $fourth-color: #ffff;
// $fifth-color: rgba(14, 13, 13, 0.955);
// $fifth-color: #2f0c49cf;
// $fifth-color: rgb(30, 0, 49);
// $head-color: #1db9df;

$main-back-color: rgba(14, 13, 13, 0.955);
$second-back-color: rgb(35, 34, 34);
$main-color: #ffff;
$second-color: #1db9df;

$second-font: Arial, Helvetica, sans-serif;
// $second-font: 'Times New Roman', Times, serif;
