/* Termns and conditions */

.terms-conditions {
  color: $main-color;
  h1 {
    margin: 2rem;
    font-size: 1.7rem;
  }

  h2 {
    margin: 1rem;
  }

  p {
    opacity: 0.9;
    margin-left: 1rem;
  }

  ul {
    margin-left: 2rem;
    opacity: 0.9;
  }
}

/* privacy policy */

.privacy-policy {
  color: $main-color;

  h1 {
    margin: 2rem;
    font-size: 1.7rem;
  }

  h2 {
    margin: 1rem;
  }

  p {
    opacity: 0.9;
    margin-left: 1rem;
  }
}
