@media (max-width: 60.31em) {
  // Services

  .servicii {
    div:nth-child(3),
    div:nth-child(5) {
      flex-direction: column-reverse;
    }
  }

  .servicii-row {
    .text-servicii {
      margin: 0 auto;

      h2 {
        span {
          margin: 0 auto;
          margin-top: 0.5rem;
        }
      }

      p {
        text-align: start;
      }
      button {
        margin-bottom: 3rem;
      }
    }

    .image-servicii {
      margin-bottom: 2rem;
    }

    flex-direction: column;
    text-align: center;
  }
}
// About Us

@media (max-width: 71.87em) {
  .despre-noi {
    flex-direction: column;

    .text-despre-noi {
      width: 70%;
      text-align: center;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h2 {
        margin: 0;
        text-align: center;

        span {
          margin: 0.5rem auto;
        }
      }

      h3 {
        margin: 0;
        text-align: center;

        span {
          margin: 0 auto;
        }
      }
    }

    .image-despre-noi {
      display: none;
    }

    .phone {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 78.12em) {
  .preturi {
    flex-wrap: wrap;

    .pret {
      margin-top: 3rem;
      transition: none;
    }

    .pret:hover {
      margin-top: 3rem;
    }
  }
}

@media (max-width: 85em) {
  .gallery-title {
    .gallery {
      grid-template-columns: repeat(2, 25rem);

      a:nth-child(9) {
        grid-column: span 2;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 57.5em) {
  .gallery-title {
    .gallery {
      // display: grid;
      // grid-template-columns: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 20rem !important;
      }

      a:nth-child(9) {
        grid-column: span 1;
        margin: 0;
      }
    }
  }
}

// Contact

@media (max-width: 61.25em) {
  .appointment {
    max-width: 30rem;
    padding-bottom: 0;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1.5rem;
    gap: 3rem;

    .appointment-title {
      max-width: 20rem;
      margin: 0 auto;
    }
  }
}
