@media (max-width: 46.63em) {
  header {
    display: flex;
    justify-content: start;

    .logo img {
      width: 6rem;
      margin-left: 2rem;
    }

    li {
      display: none;
    }

    .ham-menu {
      display: block;
      margin: auto 0;
      margin-left: auto;
      margin-right: 2rem;

      img {
        width: 2rem;
      }
    }

    .side-nav-phone {
      z-index: 12;
      position: fixed;
      background-color: $second-back-color;
      top: 0;
      padding-top: 3rem;
      width: 0;
      height: 100vh;
      transition: width 0.5s ease;
      .phone-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
        li {
          display: flex;
          border-bottom: 1px solid $main-back-color;
          width: 16rem;
          padding: 1rem 0 1rem 4rem;
        }

        a {
          color: $main-color;
        }

        a:hover {
          text-decoration: underline $second-color;
        }

        .close {
          display: flex;
          margin: 0 1.5rem 1rem auto;

          img {
            width: 1.1rem;
            cursor: pointer;
          }
        }

        .header-social {
          display: flex;
          height: fit-content;
          margin: 0 auto;
          a {
            color: $main-color;
            margin-top: 2rem;
            margin-right: 1rem;
          }

          a:hover {
            text-decoration: none;
          }
          .fa {
            font-size: 1.5rem;
            height: 2.5rem;
            width: 2.5rem;
            text-align: center;
            border: 1.5px solid $second-color;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
          }

          .fa:hover {
            border: 1.5px solid $main-color;
          }
        }
      }
    }
  }

  .contact-header {
    flex-direction: column;
    align-items: center;
    .header-social {
      margin: 0 auto;
      margin-bottom: 2rem;
    }

    .message-header {
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media (max-width: 28.25em) {
  .contact-header {
    .message-header {
      .tag {
        gap: 6px;
        a {
          font-size: 0.8rem;
        }

        img {
          width: 1.8rem;
        }
      }
    }
  }
}

// .main-page {
//   .main-page-items {
//     text-align: center;
//     h1 {
//       font-size: 2.5rem;
//     }

//     p {
//       font-size: 1.5rem;
//     }
//   }
// }

@media (max-width: 60.31em) {
  // Services

  .servicii {
    div:nth-child(3) {
      flex-direction: column-reverse;
    }
  }

  .servicii-row {
    .text-servicii {
      margin: 0 auto;

      h2 {
        span {
          margin: 0 auto;
          margin-top: 0.5rem;
        }
      }

      p {
        text-align: start;
      }
      button {
        margin-bottom: 3rem;
      }
    }

    .image-servicii {
      margin-bottom: 2rem;
    }

    flex-direction: column;
    text-align: center;
  }
}
// About Us

@media (max-width: 71.87em) {
  .despre-noi {
    flex-direction: column;

    .text-despre-noi {
      width: 70%;
      text-align: center;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      h2 {
        margin: 0;
        text-align: center;

        span {
          margin: 0.5rem auto;
        }
      }

      h3 {
        margin: 0;
        text-align: center;

        span {
          margin: 0 auto;
        }
      }
    }

    .image-despre-noi {
      display: none;
    }

    .phone {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 78.12em) {
  .preturi {
    flex-wrap: wrap;

    .pret {
      margin-top: 3rem;
      transition: none;
    }

    .pret:hover {
      margin-top: 3rem;
    }
  }
}

@media (max-width: 85em) {
  .gallery-title {
    .gallery {
      grid-template-columns: repeat(2, 25rem);

      a:nth-child(9) {
        grid-column: span 2;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 57.5em) {
  .gallery-title {
    .gallery {
      // display: grid;
      // grid-template-columns: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 20rem !important;
      }

      a:nth-child(9) {
        grid-column: span 1;
        margin: 0;
      }
    }
  }
}

// Swiper

@media (max-width: 42.5em) {
  .swiper {
    height: 34rem;
    .swiper-wrapper {
      .swiper-slide {
        .testimonial {
          flex-direction: column;
          width: 20rem;
          gap: 1rem;

          .image-testimonial {
            img {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

// Contact

@media (max-width: 61.25em) {
  .appointment {
    max-width: 30rem;
    padding-bottom: 0;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 1.5rem;
    gap: 3rem;

    .appointment-title {
      max-width: 20rem;
      margin: 0 auto;
    }
  }
}

// Footer

@media (max-width: 73.13em) {
  .footer-contact {
    flex-wrap: wrap;

    .contact-row {
      padding: 0;
      width: 25rem;
      border: 1px solid $second-color;
      padding: 2rem;
    }

    .phone {
      border-bottom: none;
      border-left: none;
      border-right: none;
      border-top: none;
      justify-content: center;
      padding-right: 3rem;
    }

    .whatsapp {
      border-left: none;
      border-bottom: none;
      border-right: none;
      width: 30rem;
      justify-content: center;
    }

    .mail {
      border-bottom: none;
      border-left: none;
      border-top: none;
    }
  }
}

@media (max-width: 49.94em) {
  .footer-contact {
    .contact-row {
      justify-content: space-between;
    }

    .phone {
      p {
        margin-right: 2rem;
      }
    }

    .mail {
      border-bottom: 1px solid $second-color;
      border-right: none;
    }

    .whatsapp {
      width: 25rem;
    }
  }
}

@media (max-width: 22.5em) {
  .footer-contact {
    .contact-row {
      flex-direction: column;
    }

    .phone {
      p {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 61.25em) {
  .footer-nav {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;

    .footer-social {
      grid-column: span 2;
    }
  }
}

@media (max-width: 37.5em) {
  .footer-nav {
    grid-template-columns: 1fr;
    text-align: center;
    margin-bottom: 3rem;
    gap: 2rem;

    .footer-social {
      grid-column: span 1;

      .fa {
        margin-top: 0;
      }
    }
  }
}
