@media (max-width: 46.63em) {
  header {
    display: flex;
    justify-content: start;

    .logo img {
      width: 6rem;
      margin-left: 2rem;
    }

    li {
      display: none;
    }

    .ham-menu {
      display: block;
      margin: auto 0;
      margin-left: auto;
      margin-right: 2rem;

      img {
        width: 2rem;
      }
    }

    .phone-nav {
      display: none;
      position: fixed;
      z-index: 12;
      flex-direction: column;
      align-items: flex-start;
      background-color: $fourth-color;
      bottom: 0;
      top: 0;
      padding-top: 3rem;

      li {
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.536);
        width: 100%;
        padding: 1rem 2rem;
        padding-left: 3rem;
      }

      a {
        color: $fifth-color;
      }

      a:hover {
        color: $first-color;
      }

      .close {
        display: flex;
        margin-left: auto;
        margin-right: 1.5rem;

        img {
          width: 1.1rem;
          cursor: pointer;
        }
      }
    }
  }
}

.main-page {
  .main-page-items {
    text-align: center;
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 60.31em) {
  // Services

  .servicii {
    div:nth-child(3) {
      flex-direction: column-reverse;
    }
  }

  .servicii-row {
    .image-servicii {
      margin-bottom: 2rem;
    }

    flex-direction: column;
    text-align: center;

    p {
      text-align: start;
    }
    button {
      margin-bottom: 3rem;
    }
  }

  // About Us

  .despre-noi {
    flex-direction: column;

    .text-despre-noi {
      width: 70%;

      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    h2 {
      margin: 0;
      text-align: center;
    }

    h3 {
      margin: 0;
      text-align: center;
    }

    .image-despre-noi {
      display: none;
    }

    .phone {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 78.12em) {
  .preturi {
    flex-wrap: wrap;
  }
}

@media (max-width: 85em) {
  .gallery-title {
    .gallery {
      grid-template-columns: repeat(2, 25rem);

      div:nth-child(9) {
        grid-column: span 2;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 57.5em) {
  .gallery-title {
    .gallery {
      grid-template-columns: 25rem;

      div:nth-child(9) {
        grid-column: span 1;
        margin: 0 auto;
      }
    }
  }
}
