%swiper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.swiper {
  height: 40rem;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    @extend %swiper;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $second-color;
  }
  .swiper-pagination-bullet {
    background-color: $second-color;
  }
}

.overlap-text {
  position: absolute;
  background-color: #2f0c4999;
  color: $fourth-color;
  // z-index: 2;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  width: 50%;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.title-swiper {
  // position: absolute;
  // color: white;
  // z-index: 2;
  // top: 43%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 200;
  text-transform: uppercase;
}

.text-swiper {
  // position: absolute;
  // color: white;
  // z-index: 2;
  // top: 57%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  font-size: 3rem;
  text-align: center;
  margin-top: 1rem;
  font-family: $second-font;
}

.button-swiper {
  // position: absolute;
  // z-index: 2;
  // top: 65%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  width: 6rem;
  height: 1.7rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}
