.swiper {
  height: 25rem;

  .swiper-wrapper {
    align-items: center;

    .swiper-slide {
      border-radius: 7px;
      display: flex;
      justify-content: center;

      .testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $fourth-color;
        width: 20rem;
        text-align: center;

        img {
          border-radius: 50%;
          width: 5rem;
          height: 5rem;
          object-fit: cover;
          margin-bottom: 2rem;
        }

        span {
          color: red;
        }

        h3 {
          font-size: 1rem;
          margin-top: 1.5rem;
        }
      }
    }
  }
}

.title-testimonials {
  text-align: center;
  color: $fourth-color;
  // width: 25rem;
  margin: 0 auto;
  margin-top: 5rem;

  h2 {
    font-family: $second-font;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.3rem;
  }

  .testimonial-text {
    max-width: 28rem;
    margin: 0 auto;
  }
}
