.swiper {
  height: 25rem;
  margin-top: 3rem;

  .swiper-wrapper {
    align-items: center;

    .swiper-slide {
      border-radius: 7px;
      display: flex;
      justify-content: center;

      .testimonial {
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
        color: $main-color;
        max-width: 40rem;
        // text-align: center;
        gap: 3rem;

        background-color: rgb(211, 211, 211);
        padding: 2rem;
        border-radius: 3px;

        .image-testimonial {
          img {
            border-radius: 3px;
            width: 15rem;
            height: 15rem;
            object-fit: cover;
            margin-bottom: 2rem;
            border: 2px dotted $second-color;
          }
        }

        .text-testimonial {
          p {
            font-size: 1.5rem;
            color: $main-back-color;
          }

          span {
            color: $second-color;
          }

          h3 {
            font-size: 1.4rem;
            margin-top: 1.5rem;
            color: $main-back-color;
          }
        }
      }
    }
  }

  .swiper-scrollbar {
    background: none;
  }

  .swiper-pagination-bullet-active {
    background-color: $second-color;
  }
}

.testimonials {
  .title-testimonials {
    text-align: center;
    color: $main-color;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    h2 {
      font-family: $second-font;
      font-size: 2.5rem;
      margin-bottom: 1rem;

      span {
        @extend %span;
        margin-top: 0.3rem;
      }

      span:after {
        @extend %span-after;
      }
    }

    p {
      font-size: 1.3rem;
    }

    .testimonial-text {
      max-width: 28rem;
      margin: 0 auto;
    }
  }
}
