%swiper {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.swiper {
  height: 40rem;

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $second-color;
  }
  .swiper-pagination-bullet {
    background-color: $second-color;
  }
}

.one {
  background-image: url('/images/party-one.jpg');
  @extend %swiper;
}

.two {
  background-image: url('/images/party-two.jpg');
  @extend %swiper;
}

.three {
  background-image: url('/images/party-three.jpg');
  @extend %swiper;
}
