@import 'config';
@import 'buttons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $main-back-color;
}

// Navigation

header {
  display: flex;
  justify-content: center;
  background-color: $second-back-color;

  .logo img {
    width: 8rem;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  li {
    list-style: none;

    a {
      color: $main-color;
      font-size: 1.3rem;
    }

    a:hover {
      color: $main-color;
    }
  }

  .ham-menu {
    display: none;
  }

  .phone-nav {
    display: none;
  }
}

.show {
  display: flex;
}

.backgound-black {
  background-color: $main-back-color;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 11;
  display: none;
}

a {
  text-decoration: none;
}

.overlap-text {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 2rem;

  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 200;
    text-transform: uppercase;
    color: $second-color;
  }

  p {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    font-family: $second-font;
    color: $main-color;
  }
}

// Video

.video-mirror {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  .video {
    max-width: 100%;
    height: auto;
    border-radius: 3px;
  }
}

// Services

.servicii {
  padding: 1rem;
  background-color: $second-back-color;
  margin-top: 3rem;
}

.services-title {
  text-align: center;
  color: $main-color;
  max-width: 30rem;
  margin: 0 auto;
  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-family: $second-font;
    position: relative;

    span {
      @extend %span;
    }

    span::after {
      @extend %span-after;
    }
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 5rem;
  }
}

.servicii-row {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $main-color;
  gap: 10%;
  margin-bottom: 5rem;

  .image-servicii {
    img {
      max-width: 100%;
      height: auto;
      border-radius: 3px;
    }
  }

  .text-servicii {
    max-width: 30rem;
    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;

      span {
        @extend %span;
        margin: 0;
        margin-top: 0.5rem;
      }

      span::after {
        @extend %span-after;
      }
    }

    p {
      font-size: 1.3rem;
    }

    button {
      @extend %btn;
      width: 10rem;
    }
  }
}

// Prices

.preturi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  text-align: center;
  padding: 5rem 1rem;

  .pret {
    background-color: lighten($second-back-color, 10%);
    padding: 0.5rem;
    border-radius: 3px;
    transition: margin 0.3s ease-in-out;
    box-shadow: 0px 0px 10px $second-color;

    p {
      font-size: 1.5rem;
      margin: 1rem 0;
      color: $second-color;
    }

    ul {
      // text-align: start;
      margin-bottom: 1.5rem;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    li {
      margin-bottom: 0.8rem;
      font-size: 1.2rem;
      color: $main-color;
      list-style: none;
      text-align: center;
    }

    img {
      max-width: 100%;
      height: auto;
      border-radius: 3px;
    }

    button {
      @extend %btn;
    }

    h2 {
      color: $second-color;
    }
  }

  .pret:hover {
    margin-top: -1rem;
  }
}

// About us

.despre-noi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 5rem 0;
  background-color: $second-back-color;
  margin: 0 auto;

  .image-despre-noi {
    img {
      max-width: 100%;
      height: auto;
      border: 2px dotted $main-color;
      border-color: $second-color;
      padding: 0.8rem;
    }
  }

  .text-despre-noi {
    max-width: 40rem;
    color: $main-color;

    h2 {
      margin-bottom: 1rem;
      font-size: clamp(1.2rem, 2.3rem, 5rem);

      span {
        @extend %span;
        margin: 0;
        margin-top: 0.3rem;
      }

      span:after {
        @extend %span-after;
      }
    }

    p {
      margin-bottom: 3rem;
      font-size: clamp(1.1rem, 1.3rem, 10rem);
    }

    h3 {
      font-family: $second-font;
      font-size: 1.7rem;

      span {
        @extend %span;
        margin: 0;
        margin-top: 0.3rem;
      }

      span:after {
        @extend %span-after;
      }
    }

    ul {
      margin-left: 1.5rem;
      margin-top: 1.2rem;
    }

    li {
      margin-bottom: 0.7rem;
      list-style: circle;
      font-size: clamp(0.7rem, 1.2rem, 3rem);
      text-align: start;
    }

    button {
      @extend %btn;
    }
  }

  .phone {
    display: none;
  }
}

// Beneficii

.title-beneficii {
  margin-top: 5rem;
  margin-bottom: 3rem;
  h2 {
    text-align: center;
    color: $main-color;
    font-size: 2rem;

    span {
      @extend %span;
      margin-top: 0.3rem;
    }

    span:after {
      @extend %span-after;
    }
  }
}

.container-beneficii {
  color: $main-color;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-width: 75rem;
  margin: 0 auto;
  padding: 3rem 0;

  .row {
    text-align: center;
    width: 20rem;
    margin: 0 auto;
    margin-bottom: 4rem;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 1px 1px 10px $second-color;

    img {
      margin-bottom: 1rem;
      width: 3.5rem;
    }

    h3 {
      margin-bottom: 0.6rem;
      color: $second-color;
    }
  }
}

.gallery-title {
  background-color: $second-back-color;
  padding: 3rem 0;
  h2 {
    text-align: center;
    color: $main-color;
    font-size: 2.5rem;
    font-family: $second-font;
    margin-bottom: 1.5rem;
    margin-top: 2rem;

    span {
      @extend %span;
      margin-top: 0.3rem;
    }

    span:after {
      @extend %span-after;
    }
  }
  p {
    text-align: center;
    margin: 0 auto;
    color: $main-color;
    font-size: 1.5rem;
    max-width: 35rem;
    margin-bottom: 2rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(3, 25rem);
    justify-content: center;
    gap: 3rem;

    img {
      border-radius: 3px;
    }
  }
}

@import 'swiper';

// Contact

.contact {
  background-color: $main-back-color;
  padding: 3rem 0;
  display: flex;
  .contact-title {
    color: $main-color;
    max-width: 25rem;
    margin: 0 auto;
    text-align: center;

    h2 {
      font-family: $second-font;
      font-size: 3rem;
      margin-bottom: 1.4rem;
      margin-top: 3rem;
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }
  }

  .contact-ways {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    flex-wrap: wrap;
    img {
      width: 2rem;
    }

    .phone {
      display: flex;
      align-items: center;
      color: $main-color;
      gap: 1rem;
    }

    .email {
      display: flex;
      align-items: center;
      color: $main-color;
      gap: 1rem;
    }
  }
}

@import 'phone';
