@import 'config';
@import 'buttons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: $first-color;
}

header {
  display: flex;
  justify-content: center;
  background-color: $first-color;

  .logo img {
    width: 8rem;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  li {
    list-style: none;

    a {
      color: $third-color;
      font-size: 1.3rem;
    }

    a:hover {
      color: $fourth-color;
    }
  }

  .ham-menu {
    display: none;
  }
}

a {
  text-decoration: none;
}

@import 'swiper';

.services-container {
  background-color: $first-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;

  .column {
    background-color: $fourth-color;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    max-width: 20rem;
    margin: 0 auto;

    img {
      width: 7rem;
      border-radius: 3px;
      margin: 0 auto;
      padding: 2rem;
      box-sizing: content-box;
    }

    h3 {
      color: $first-color;
      font-size: 1.7rem;
      font-weight: 700;
    }

    p {
      color: $first-color;
      font-size: 1.2rem;
    }

    a {
      color: $first-color;
      font-size: 1.3rem;
    }

    a::after {
      content: '';
      display: block;
      background-color: $fourth-color;
      width: 4rem;
      height: 0.1rem;
    }
  }
}

@import 'phone';
